<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="conotoxia_pay" translate="label comment" sortOrder="1" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>Conotoxia Pay</label>
                <!--@formatter:off-->
                <comment>Conotoxia Pay is an excellent tool for payments in 28 currencies, which will make shopping in your online store easier and more enjoyable. Your customers will pay quickly and conveniently. The transaction can be completed in just a few clicks.</comment>
                <!--@formatter:on-->
                <fieldset_css>complex conotoxia-pay-section</fieldset_css>
                <frontend_model>Conotoxia\Pay\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <field id="version"
                       type="text"
                       translate="label comment"
                       sortOrder="0"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <frontend_model>Conotoxia\Pay\Block\Adminhtml\System\Config\Field\Version</frontend_model>
                </field>
                <group id="required_conotoxia_pay_settings" translate="label" type="text" sortOrder="1"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Required Conotoxia Pay settings</label>
                    <frontend_model>Conotoxia\Pay\Block\Adminhtml\System\Config\Fieldset\Expanded</frontend_model>
                    <field id="client_id" translate="label" type="text" sortOrder="30" showInDefault="1"
                           showInWebsite="1" showInStore="0">
                        <label>API Client identifier</label>
                        <backend_model>Conotoxia\Pay\Model\Adminhtml\Keys\ClientId</backend_model>
                        <tooltip>API Client identifier can be generated in the Merchant's Panel on Configuration page.
                        </tooltip>
                    </field>
                    <field id="client_secret" translate="label" type="obscure" sortOrder="40" showInDefault="1"
                           showInWebsite="1" showInStore="0">
                        <label>API Client secret</label>
                        <config_path>payment/conotoxia_pay/client_secret</config_path>
                        <backend_model>Conotoxia\Pay\Model\Adminhtml\Keys\ClientSecret</backend_model>
                        <tooltip>API Client secret can be generated in the Merchant's Panel on Configuration page.
                        </tooltip>
                    </field>
                    <field id="pos_id" translate="label" type="text" sortOrder="50" showInDefault="1"
                           showInWebsite="1"
                           showInStore="0">
                        <label>Point of Sale ID</label>
                        <tooltip>Point of Sale ID is generated by the Conotoxia Pay system in the Merchant's Panel (e.g.
                            POS1234567898765432).
                        </tooltip>
                        <backend_model>Conotoxia\Pay\Model\Adminhtml\Keys\PointOfSaleId</backend_model>
                    </field>
                    <field id="public_key_id" translate="label" type="text" sortOrder="51" showInDefault="1"
                           showInWebsite="1" showInStore="0">
                        <label>Public key identifier</label>
                        <config_path>payment/conotoxia_pay/public_key_id</config_path>
                        <frontend_model>Conotoxia\Pay\Block\Adminhtml\System\Config\Field\ReadonlyField</frontend_model>
                        <backend_model>Conotoxia\Pay\Model\Adminhtml\Keys\PublicKeyId</backend_model>
                        <tooltip>Public key identifier is automatically generated based on the public key.</tooltip>
                    </field>
                    <field id="public_key" translate="label" type="textarea" sortOrder="60" showInDefault="1"
                           showInWebsite="1"
                           showInStore="0">
                        <label>Public key</label>
                        <!--@formatter:off-->
                        <tooltip>RSA public key that will be sent to Conotoxia Pay. This field is automatically generated based on the private key.</tooltip>
                        <!--@formatter:on-->
                        <frontend_model>Conotoxia\Pay\Block\Adminhtml\System\Config\Field\ReadonlyField</frontend_model>
                        <backend_model>Conotoxia\Pay\Model\Adminhtml\Keys\PublicKey</backend_model>
                    </field>
                    <field id="private_key" translate="label comment"
                           type="Conotoxia\Pay\Block\Adminhtml\System\Config\Field\ObscureTextarea" sortOrder="70"
                           showInDefault="1"
                           showInWebsite="1"
                           showInStore="0">
                        <label>Private key</label>
                        <config_path>payment/conotoxia_pay/private_key</config_path>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <tooltip>The RSA private key that will be used to authenticate the communication.</tooltip>
                    </field>
                    <field id="generate_keys" translate="label" type="text" sortOrder="71" showInDefault="1"
                           showInWebsite="1" showInStore="0">
                        <label></label>
                        <frontend_model>Conotoxia\Pay\Block\Adminhtml\System\Config\Field\GenerateKeys</frontend_model>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="160" showInDefault="1"
                           showInWebsite="1"
                           showInStore="0">
                        <label>Sort Order</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/conotoxia_pay/sort_order</config_path>
                    </field>
                    <field id="sandbox" translate="label" type="select" sortOrder="170" showInDefault="1"
                           showInWebsite="1"
                           showInStore="0">
                        <label>Sandbox mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="conotoxiapay_icon" translate="label" type="select" sortOrder="180" showInDefault="1"
                           showInWebsite="1"
                           showInStore="0">
                        <label>Conotoxia Pay icon</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
                <group id="icons" translate="label" type="text" sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Payment method icons</label>
                    <field id="blik" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Blik</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="visa" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Visa</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="mastercard" type="select" sortOrder="3" showInDefault="1" showInWebsite="1"
                           showInStore="0">
                        <label>Mastercard</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="bancontact" type="select" sortOrder="4" showInDefault="1" showInWebsite="1"
                           showInStore="0">
                        <label>Bancontact (BCMC)</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="cartes_bancaires" type="select" sortOrder="5" showInDefault="1" showInWebsite="1"
                           showInStore="0">
                        <label>Cartes Bancaires</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="dankort" type="select" sortOrder="6" showInDefault="1" showInWebsite="1"
                           showInStore="0">
                        <label>Dankort</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="discover" type="select" sortOrder="7" showInDefault="1" showInWebsite="1"
                           showInStore="0">
                        <label>Discover</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="diners_club" type="select" sortOrder="8" showInDefault="1" showInWebsite="1"
                           showInStore="0">
                        <label>Diners Club</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="jcb" type="select" sortOrder="9" showInDefault="1" showInWebsite="1"
                           showInStore="0">
                        <label>JCB</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="union_pay" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                           showInStore="0">
                        <label>UnionPay</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="online_transfer" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1"
                           showInStore="0">
                        <label>Online Transfer</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="google_pay" type="select" sortOrder="12" showInDefault="1" showInWebsite="1"
                           showInStore="0">
                        <label>Google Pay</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="apple_pay" type="select" sortOrder="13" showInDefault="1" showInWebsite="1"
                           showInStore="0">
                        <label>Apple Pay</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="pay_pal" type="select" sortOrder="14" showInDefault="1" showInWebsite="1"
                           showInStore="0">
                        <label>PayPal</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="skrill" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Skrill Wallet</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>

                    <field id="vipps" type="select" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Vipps</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="rapid_transfer" type="select" sortOrder="17" showInDefault="1" showInWebsite="1"
                           showInStore="0">
                        <label>Rapid Transfer</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="trustly" type="select" sortOrder="18" showInDefault="1" showInWebsite="1"
                           showInStore="0">
                        <label>Trustly</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="eps" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>EPS</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="ideal" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Ideal</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                </group>
                <field id="active" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Enable Conotoxia Pay</label>
                    <config_path>payment/conotoxia_pay/active</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <requires>
                        <group id="required_conotoxia_pay_settings"/>
                    </requires>
                </field>
                <field id="loglist" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>Logs</label>
                    <frontend_model>Conotoxia\Pay\Block\Adminhtml\System\Config\Form\DeveloperLogs</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
